[Unit]
Description=HTTP light service

[Service]
Type=simple
ExecStart=sh -c "sleep 4; cd pwm_dev; ~/.cargo/bin/pwm_http"

[Install]
WantedBy=default.target
