[Unit]
Description=HTTP light service

[Service]
Type=simple
ExecStart=sh -c "sleep 4; cd httPWM; ~/.cargo/bin/httpwmd"

[Install]
WantedBy=default.target
