!> cache dynamic
:root {
    --txt-col: #cfcfcf;
    --txt-second: #9f9f9f;
    --bg-col: #00071f;
    --bg-second: #2f5faf;
}

input, button, select {
    background-color: var(--bg-second);
    border: solid var(--txt-col);
    
    --border-width: 1px;
    
    border-radius: 3px;
    
    border-width: 0 var(--border-width) var(--border-width) 0;
    color: inherit;
    margin: 0.25em;
    padding: 0.15em;
}
.slider {
    padding: 0;
    border: none;
    width: min(60em, 75%);
}
input:focus {
    outline: none;
}
::placeholder {
    color: var(--txt-second);
}

i {
    display: inline-block;
    max-width: 75%;
    line-height: 1.5em;
}

code {
    background-color: #2f2f3f;
    border-radius: 0.25em;
    padding: 0.2em 0.3em 0.2em 0.3em;
    font-style: normal;
}

body{
    color: var(--txt-col);
    background-color: var(--bg-col);
}

table {
  border-collapse: collapse;
  border-style: hidden;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.table-round {
    border: 2px solid var(--bg-second);
    border-radius: 0.75em;
    display: inline-block;
}

td, th {
    border: 1px solid var(--bg-second);
    padding: 0.75em;
}

td {
    text-align: center;
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.m-top {
    margin-top: 1em;
}
input.fill, select.fill {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    margin: 0;
    border: none;
    background-color: inherit;
}
tr.inner-padding > td {
    padding: 0;
}


span.notification {
    position: fixed;
    cursor: pointer;

    font-size: 1.5rem;
    top: 1.5em;
    right: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    max-width: min(20em, 80vw);

    transform: translateX(calc(200% + 2em));
    transition: transform ease-out 0.5s;
    padding: 0.5em;
    border-radius: 0.5em;
}
